<!DOCTYPE html>
<html>
  <head>
    <title>Think</title>
  </head>
  <body>

    <a href='/'>Back</a>

    <p>Motive power is provided by a separate <a href="/wiki/Locomotive"  >locomotive</a> or individual motors in self-propelled <a href="/wiki/Multiple_unit">multiple units</a>. Although historically <a href="/wiki/Steam_locomotive">steam</a> propulsion dominated, the most common modern forms are <a href="/wiki/Diesel_locomotive">diesel</a> and <a href="/wiki/Electric_locomotive">electric</a> locomotives, the latter supplied by <a href="/wiki/Overhead_lines" class="mw-redirect">overhead wires</a> or <a href="/wiki/Third_rail" >additional rails</a>. Other energy sources include <a href="/wiki/Horsecar" >horses</a>, <a href="/wiki/Cable_railway" >rope or wire</a>, <a href="/wiki/Gravity"  class="mw-redirect">gravity</a>, <a href="/wiki/Pneumatics" >pneumatics</a>, <a href="/wiki/Battery_(electricity)" >batteries</a>, and <a href="/wiki/Gas_turbine" >gas turbines</a>.</p>

  </body>
</html>
